
/* Herakles Demo Styles
================================================== */

	/* Page Fonts */
	@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
	@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400i,700i');

	/* Body Options */
	body{ font-family: 'Lato', sans-serif; font-weight: 400; letter-spacing: 0px; }
	body *{outline:none;}

/* HERAKLES COLORS
================================================== */

	/* Colored */
	.colored, .colored-hover:hover{ color:#c32222 !important; }
	.bg-colored, .bg-colored-hover:hover{background-color:#c32222 !important; }
	.border-colored, .border-colored-hover:hover{ border-color:#c32222 !important; }

	/* Colored1 */
	.colored1, .colored1-hover:hover{ color:#513232 !important; }
	.bg-colored1, .bg-colored1-hover:hover{ background-color:#513232 !important; }
	.border-colored1, .border-colored1-hover:hover{ border-color:#513232 !important; }

	/* Colored2 */
	.colored2, .colored2-hover:hover{ color:#8d6d43 !important; }
	.bg-colored2, .bg-colored2-hover:hover{ background-color:#8d6d43 !important; }
	.border-colored2, .border-colored2-hover:hover{ border-color:#8d6d43 !important; }

	::selection{ background-color:#c32222 !important; }

	.bg-soft-colored2:before{ opacity: 0.9; }

	.bg-soft-colored2:before,
	#works .cbp-caption-activeWrap,
	.bg-gradient{
	    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#93c823+0,bb1414+100 */
		background: #1764b3; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #1764b3 0%, #bb1414 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #1764b3 0%,#bb1414 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg,  #1764b3 0%,#bb1414 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1764b3', endColorstr='#bb1414',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}

	.bg-gradient1{
	    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#443656+0,45446d+100 */
		background: #443656; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #443656 0%, #45446d 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #443656 0%,#45446d 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg,  #443656 0%,#45446d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#443656', endColorstr='#45446d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}

/* Other Colors */
/* Herakles VERSION MAIN STYLES
================================================== */

/* Slider Arrow Options
================================================== */

	.erinyen .tp-arr-titleholder{ letter-spacing: 0; text-transform: none; color:#ccc; }

/* Block Navigation Active Colors
================================================== */

	.block-navigation .nav li a:hover,.block-navigation .nav li.active a{ background-color:#513232;}

/* Portfolio Styles
================================================== */

	.works{
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.works .cbp-wrapper-outer{
		box-shadow: 2px 20px 60px 0px rgba(0,0,0,0.35);
		-webkit-transition: box-shadow 0.3s; -moz-transition: box-shadow 0.3s; transition: box-shadow 0.3s;
		transition-delay:0.2s;
	}
		@media only screen and (max-width: 1620px){ .works{ margin-left:auto; margin-right: autp; padding:0 !important; width: 95%; width: calc(100% -30px);} }
	.works .cbp-wrapper-outer:active,.works .cbp-wrapper-outer:active a.cbp-caption{ box-shadow: none !important; transition-delay:0s; -webkit-transition: box-shadow 0.2s; -moz-transition: box-shadow 0.2s; transition: box-shadow 0.1s;}
	.works .cbp-item h2{ font-size: 16px; opacity: 0; font-weight: 900; position: relative; top:20px; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; }
	/* Hover Effects */
	.works .cbp-item p{ font-size: 12px; opacity: 0; position: relative; top:20px; text-transform: uppercase; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; }
	.works .cbp-item:hover h2, .works .cbp-item:hover p{ top: 0; opacity: 1; }
	.works .cbp-item:hover p{ -webkit-transition-delay: 0.05s; transition-delay: 0.05s; }
		@media only screen and (max-width: 640px){ .works .cbp-item h2, .works .cbp-item p{ top: 0; opacity: 1; } }
	.works .cbp-item:hover .cbp-caption-activeWrap{ opacity: 0.9; }
	.works .cbp-caption-zoom .cbp-caption-defaultWrap{ border-bottom:1px solid transparent; bottom:-1px; }
	/* Shadow for scale bug on items */
	.works a.cbp-caption{ -webkit-box-shadow: inset 0px -165px 139px -65px rgba(0,0,0,0.24); -moz-box-shadow: inset 0px -165px 139px -65px rgba(0,0,0,0.24); box-shadow: inset 0px -165px 139px -65px rgba(0,0,0,0.24); }
	/* Navigation */
	.works .cbp-nav-controls{ width: 100%; top:50%; margin-top:-25px; }
	.works .cbp-nav-next, .works .cbp-nav-prev{ width: 50px; height: 50px; background-color:#c32222; position: absolute; left:-25px; border-radius: 100%; opacity: 0 !important; -webkit-transform:scale(1); -moz-transform:scale(1); -o-transform:scale(1); transform:scale(1); -webkit-transition: all 0.25s; -moz-transition: all 0.25s; transition: all 0.25s; }
	.works .cbp-nav-next:hover, .works .cbp-nav-prev:hover{ -webkit-transform:scale(1.1); -moz-transform:scale(1.1); -o-transform:scale(1.1); transform:scale(1.1); }
	.works .cbp-nav-next{ right: -25px; left: auto; }
	.works:hover .cbp-nav-next, .works:hover .cbp-nav-prev{ opacity: 1 !important; }
	.works:hover .cbp-nav-stop{ opacity: 0.5 !important; -webkit-transform:scale(1); -moz-transform:scale(1); -o-transform:scale(1); transform:scale(1); }
	.works .cbp-nav-prev:after{ left:-3px; }
		@media only screen and (max-width: 1620px){ .works .cbp-nav-next{ right: -15px; } .works .cbp-nav-prev{ left:-15px; } }
		@media only screen and (max-width: 640px){
			.works .cbp-nav-next, .works .cbp-nav-prev{ display: none; }
		}



/* Skills Styles
================================================== */

	.skills{ margin-top:-70px; }
	.skills-type-2{ margin: 40px auto 60px; }
	.skills-type-2 .item .progress{ background-color:rgba(255,255,255,0.2) }


/* Team Options
================================================== */

	.team-type-2 .member .member-description h2{ font-size: 17px; font-weight: 900; text-transform: capitalize;}
	.team-type-2 .member .member-description h4{ text-transform: capitalize; }


