.box-default {
	background: #fff;
	-webkit-box-shadow: 0px 18px 30px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    0px 18px 30px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         0px 18px 30px 0px rgba(50, 50, 50, 0.25);
}

.card {
	-webkit-box-shadow: 0px 10px 52px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    0px 10px 52px 0px rgba(50, 50, 50, 0.15);
	box-shadow:         0px 10px 52px 0px rgba(50, 50, 50, 0.15);	
	border-color: $ice-age;
	p {
		@include font-size(14px);
	}
	margin-bottom: calculateRem(24px);
	.card-body {
		.card-header {
			padding-left: 0;
			padding-right: 0;
			padding-bottom: calculateRem(12px);
			color: $secondary-color;
			@include font-size(18px);
			.btn-group {
				margin-top: -6px;
			}
		}
	}
}

.card-alerts {
	border:none;
}
.card-alerts_regular {
	background-color: $ice-age;
}

.card-alerts_primary {
	background-color: $secondary-color;
	border:none;
	.card-header, .card-body {
		color: #fff;
	}
	.btn-green {
	    -webkit-box-shadow:         0px 8px 24px 0px rgba(50, 50, 50, 0.1), 0px 18px 16px -12px rgba(120, 242, 204, 0.25);
	    -moz-box-shadow:         0px 8px 24px 0px rgba(50, 50, 50, 0.1), 0px 18px 16px -12px rgba(120, 242, 204, 0.25);
	    box-shadow:         0px 8px 24px 0px rgba(50, 50, 50, 0.1), 0px 18px 16px -12px rgba(120, 242, 204, 0.25);
	    &:hover {
	        -webkit-box-shadow:         0px 8px 24px 0px rgba(50, 50, 50, 0.1), 0px 18px 16px -6px rgba(120, 242, 204, 0.25);
	        -moz-box-shadow:         0px 8px 24px 0px rgba(50, 50, 50, 0.1), 0px 18px 16px -6px rgba(120, 242, 204, 0.25);
	        box-shadow:         0px 8px 24px 0px rgba(50, 50, 50, 0.1), 0px 18px 16px -6px rgba(120, 242, 204, 0.25);
	    }
	}
	.close {
		color: #fff;
		opacity: 0.9;
	    text-shadow: 0 0 #fff;
	}
}

.card-alerts_pandaBG {
	background-image: url('../img/frontend/card-pandaBG.png');
	background-position: right bottom;
	background-repeat: no-repeat;
}

.card-header {
	color: $dark-gray;
	@include font-size(24px);
	font-weight: 600;
	letter-spacing: -0.025em;
    padding-bottom: 0;
    background-color: transparent;
    border-bottom: none;
}

.card-icon {
	.border-colored, .border-colored-hover:hover {
		border-color: rgb(173,189,204)!important;
	}
}
 
