/*
// PROGRESS BAR
*/

$countdown-stroke-width:3;
$div-size: 20px;
$circle-size: 200px;

.progress-radial {
    transform: rotate(-90deg);
}

.stroke-external {
	fill:none;stroke:#E3E8F0;stroke-width:10;stroke-miterlimit:10;
}
.stroke-internal {
	stroke-linecap: round;
	fill:none;stroke:#5C67E5;stroke-width:4;stroke-miterlimit:10;
}

#progress-plan {
	position: relative;
}

#plan-label {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.plan-label__inner {
	text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
}

.plan-label__used {
	@include font-size(32px);
	color: $secondary-color;
	font-weight: 600;
}
.plan-label__avaliable {
	@include font-size(14px);
	color: $gray;
	font-weight: 600;	
}

/*
// PROGRESS BAR
*/

.compare-results__component {
	padding: calculateRem(12px) calculateRem(24px);
	border-radius: 2px;
	border: 1px solid $ice-age;
	.compare-results {
		@include font-size(13px);
		font-weight: 400;
		color: $gray;
	}
	.compare-results__portafolio-txt {
		text-align: right;
	}
	.compare-results__portafolio-panda {
		text-align: right;	
	}
	.compare-results__portafolio-number {
		color: $green;
		margin-bottom: 0;
	}

}
   

.tooltip-inner {
	@include font-size(11px);
	font-weight: 600;
	font-family: $font-heading;	
	border-radius: 2px;
}

.well {
	padding: calculateRem(32px);
	border-radius: 2px;
	p:last-of-type {
		margin-bottom: 0;
	}
	&.well-gray {
		background-color: $porcelain;
	}
}

.nav-pills-condensed {
	margin-left: -0.5rem;
	.nav-link {
		padding-left: 0;
		padding-right: 0;
		border-radius: 0;
		border-bottom: 2px solid transparent;
		&:hover {
			border-bottom: 2px solid $gray;
		}
		&.active {
			background-color: transparent;
			color: $primary-color;
			border-bottom: 2px solid $primary-color;
		}
	}
	
}

.alerts-message {
	padding-top: calculateRem(24px);
	padding-bottom: calculateRem(24px);
}

.markets-slider {
	&.slick-slider {
		margin-bottom: calculateRem(52px);	
	}
	
	.btn {
		margin-right: calculateRem(15px);
		margin-bottom: calculateRem(12px);	
	}
}

.slider-reasons {
	border-top: 1px solid rgba($ice-age, 0.4);
	.slick-dots {
		border-bottom: 1px solid rgba($ice-age, 0.4);
	}
}
.custom-dots {
	.slick-dots {
		width: 100%;
		padding: 0 calculateRem(24px) calculateRem(24px) calculateRem(24px);
		text-align: center;
		li {
			display: inline;
			button {
				text-indent: -9999em;
				&:after {
					content: '';
					width: 12px;
					height: 12px;
					border: 2px solid rgba($ice-age, 1);
					border-radius: 50%;
					display: block;
					overflow: hidden;
					margin-top: -16px;
					@include transition(300ms, all, ease-in-out);
				}
			}
			&.slick-active {
				button {
					&:after {
						background-color: $gray;
						border-color: rgba($gray, 1);
					}
				}
			}
		}
	}
}

.map-table {
	/*
	background-image: url('../img/pages/bg-dotted-world-map.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	*/
	.table-map {
		font-size: 13px;
		th {
			vertical-align: middle;
			text-align: center;
			background-color: rgba($primary-color, 0.25);
			padding-top: 4px;
			padding-bottom: 4px;
		}
		td {
			text-align: center;
			font-weight: 600;
			padding-top: 4px;
			padding-bottom: 4px;
		}
		.bg-panda {
			background-color: $primary-color;
			color: #fff;
		}
		.bg-panda-overlay {
			background-color: rgba($primary-color, 0.1);
		}
		.bg-index {
			background-color: rgba($yellow, 0.4);
		}
		.bg-index-overlay {
			background-color: rgba($yellow, 0.15);
		}
	}
}

hr.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.qdr-hover-5-white {
	color: #fff;
	font-size: 1.25rem;
}

.card-header h5 {
	margin-top: calculateRem(16px);
}
.card-alerts canvas {
	max-width: 160px;
	margin: auto; 
}
.rendimiento-esperado {
	@include font-size(26px);
	font-weight: 700;
	span {
		@include font-size(24px);
	}
}

//pricing-tables
.pricing-tables__price {
	.tachado {
		@include font-size(26px);
		color: $red;
		margin-bottom: -5px;
    	margin-top: 16px;
	    position: relative;
    	transform-style: preserve-3d;
    	&:before {
		    position: absolute;
		    left: 50%;
		    top: 4px;
		    height: 3px;
		    width: 114px;
	    	background-color: rgba(65,65,65,0.7);
	    	-webkit-transform: rotate(-15deg) translateX(-50%) translateZ(2px);
	    	transform: rotate(-15deg) translateX(-50%) translateZ(2px);
	    	content: '';
    	}
	}
	h3 {
		color:$green;
	}
	.text-lg2 {
    	font-size: 42px;
    	color:$green;
	}
}
