
/* Atlas Demo Styles
================================================== */

	/* Page Fonts */
	@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i');
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

	/* Body Options */
	body{ font-family: 'Open Sans', sans-serif; font-weight: 400; letter-spacing: -0.5px;}
	body *{outline:none;}

/* Health COLORS
================================================== */

	/* Colored */
	.colored, .colored-hover:hover{ color:#e08f26 !important; }
	.bg-colored, .bg-colored-hover:hover{background-color:#e08f26 !important; }
	.border-colored, .border-colored-hover:hover{ border-color:#e08f26 !important; }

	/* Colored1 */
	.colored1, .colored1-hover:hover{ color:#39539a !important; }
	.bg-colored1, .bg-colored1-hover:hover{ background-color:#39539a !important; }
	.border-colored1, .border-colored1-hover:hover{ border-color:#39539a !important; }

	/* Colored2 */
	.colored2, .colored2-hover:hover{ color:#c09066 !important; }
	.bg-colored2, .bg-colored2-hover:hover{ background-color:#c09066 !important; }
	.border-colored2, .border-colored2-hover:hover{ border-color:#c09066 !important; }

	::selection{ background-color:#e08f26 !important; }

/* Other Colors */

	.bg-soft-colored2:before,.bg-soft-gradient:before,.bg-soft-gradient1:before,.bg-soft-gradient2:before{ opacity: 0.95; }

	.bg-soft-gradient:before,
	.bg-gradient{
		background: #e08f26; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #3856a2 0%, #e07526 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #3856a2 0%,#e07526 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to 45deg,  #3856a2 0%,#e07526 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3856a2', endColorstr='#e07526',GradientType=1 ); /* IE6-9 */
	}
	.bg-soft-gradient1:before,
	.bg-gradient1{
		background: #f2b03d; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #f2b03d 0%, #e53838 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #f2b03d 0%,#e53838 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg,  #f2b03d 0%,#e53838 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2b03d', endColorstr='#e53838',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}

	.qdr-hover-5:before{ background-color:#ddd }


/* Services */
	.services{ position: relative; }
	.services-inner{ margin-bottom:250px; }
	.skills-type-2 .item .progress{ background-color: rgba(255,255,255,0.1); }
	.accordion a{ padding:6px 0; color:#ddd; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.accordion a[aria-expanded="true"],.accordion a:hover{ color:#fff; }
	.accordion .panel{ box-shadow: none; border-bottom:1px solid rgba(255,255,255,0.1)}
	.creative-sliders{ background-color:#1f1f1f; box-shadow: 2px 25px 45px 5px rgba(0,0,0,0.2); position: absolute; bottom:0; width: 100%; height: auto; max-width: 1170px; margin-left:auto; margin-right: auto; -webkit-transform: translateY(50%); -moz-transform: translateY(50%); -ms-transform: translateY(50%); transform: translateY(50%); }
		@media only screen and (max-width: 968px){
			.services-inner{ margin-bottom:0; }
			.creative-sliders{ position: relative; -webkit-transform: translateY(20%); -moz-transform: translateY(50%); -ms-transform: translateY(50%); transform: translateY(20%); }
		}
	.double-image-slider .item>a{ width: 100%; height: auto; max-height: 190px; overflow: hidden; position: relative; display: block; }
	.double-image-slider .item>a img{ width: 100%; height: auto;}
