

// FONTES
$font-stack: 'Poppins', sans-serif;
$font-heading: 'Poppins', sans-serif;
$font-alternate: 'Poppins', sans-serif;

// Pesos
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/* CORES */
$primary-color: rgb(73,82,185); /* AZUL */
$secondary-color: rgb(92,103,229); 
$tertiary-color: rgb(61,61,191); 

$light-gray: rgb(173,189,204);
$gray: rgb(133,149,165);
$dark-gray: rgb(72,83,89);
$black-brand: rgb(30,34,37);

$red: rgb(230, 34, 84);
$red-darker: rgb(174, 31, 35);

$green: rgb(0, 224, 154);
$green-darker: rgb(0, 191, 121);

$blue: rgb(78, 207, 239);

$yellow: rgb(240, 190, 30);

$ice-age: rgb(208,218,230);
$porcelain: rgb(246,247,251);

